<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "text answers", :lk => response_domain_texts_path}  %>

<h1>Text Answer</h1>

<%= render 'form' %>

<%= link_to 'Back', response_domain_texts_path %>
