<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "code answers", :lk => response_domain_codes_path}  %>

<h1>New Code Answer</h1>

<%= render 'form' %>

<%= link_to 'Back', response_domain_codes_path %>
