<%= render :partial => "shared/breadcrumb_construct", :locals => {:linktxt => "Conditions", :lk => cc_ifthenelses_path}  %>

<h1>New Condition</h1>

<%= render 'form' %>

<%= link_to 'Back', cc_ifthenelses_path %>
