<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "time and date answers", :lk => response_domain_datetimes_path}  %>

<h1>New Time and Date Answer</h1>

<%= render 'form' %>

<%= link_to 'Back', response_domain_datetimes_path %>
