<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "interviewees", :lk => response_units_path}  %>

<h1>New Interviewee Category</h1>

<%= render 'form' %>

<%= link_to 'Back', response_units_path %>
