<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "numeric answers", :lk => response_domain_numerics_path}  %>

<h1>New Numeric Answer</h1>

<%= render 'form' %>

<%= link_to 'Back', response_domain_numerics_path %>
