<div class="breadcrumb" id="breadcrumb">
<table>
  <tr>
    <td><%= link_to "Questionnaire", root_path %> &gt;</td>
    <td><%= link_to "Spine view", spine_path %> &gt;</td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to linktxt, lk %> &gt;</td>
  </tr>
</table>
</div>
