    <!--li>Response Domain Text</li>
    <ul-->
      <li><b>Id: </b><%= response_domain_all.domain.id %></li>
      <li><b>Description: </b><%= response_domain_all.domain.label %></li>
      <li><b>Maximum length: </b><%= response_domain_all.domain.maxlen %></li>
    <!--/ul-->
