<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "question items", :lk => question_items_path}  %>

<h1>New Question Item</h1>

<%= render 'form' %>

<%= link_to 'Back', question_items_path %>
