<%= render :partial => "shared/breadcrumb_construct", :locals => {:linktxt => "Sequences", :lk => cc_sequences_path}  %>

<h1>Edit Sequence</h1>

<%= render 'form' %>

<%= link_to 'Show', @cc_sequence %> |
<%= link_to 'Back', cc_sequences_path %>
