<%= render :partial => "shared/breadcrumb_construct", :locals => {:linktxt => "Statements", :lk => cc_statements_path}  %>

<h1>New Statement</h1>

<%= render 'form' %>

<%= link_to 'Back', cc_statements_path %>
