<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "code schemes", :lk => code_schemes_path}  %>

<h1>New Code Scheme</h1>

<%= render 'form' %>

<%= link_to 'Back', code_schemes_path %>
