<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "code lists", :lk => code_schemes_path}  %>

<h1>New Code List</h1>

<%= render 'form' %>

<%= link_to 'Back', code_schemes_path %>
